@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.container {
  max-width: 1120px;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
}
.banner {
  background: url("///var/www/html/Sohail/Rebel8-Clothing/assets/vendor/Images/header-01.jpg") no-repeat;
  background-size: cover;
  height: 420px;
  border-bottom: 10px solid #076599;
}
.wrap {
    padding: 60px 80px;
}
.main-heading {
  font-size:3.2rem;
}
.main-sub-heading{
  font-size:1.4rem;
}
.main-sub-heading, .main-heading {
  color:white;
  text-shadow: 0px 3px 2px rgba(62,62,62,1);
}
.main-navbar{
    width:100%;
    background-color: rgba(0,0,0,0.5);
}
.main-navbar ul {
  margin-top: 160px;
  top: 0;
}
.main-navbar ul li{
  display: inline-block;
  list-style-type: none;
  color: white;
  font-size: 1.3rem;
  padding: 15px 20px;
}
.main-navbar ul li a{
   text-decoration: none;
   text-align: center;
   color:white;
   width: 100%;
   padding: 12px 30px;
}
.main-navbar ul li a:hover{
  color: #9AC9F7;
}
main
{
  padding:30px;
}
.sect-heading {
 color: #6C6C6C;
 font-size: 2.5rem;
 margin: 30px 0 30px 0;
}
.sect-para {
  font-size:1.2rem; 
  color: #4e4e4e;
  margin-bottom: 35px;
}
.column {
  margin-top: 30px;
  float: left;
    width: 25%;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column figcaption {
  padding:20px;
  text-align: center;
  color: #4e4e4e;
}
.gallery-navbar {
  text-align: center;
  margin: 40px;
}
.gallery-navbar ul{
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 10px;
}
.gallery-navbar ul li{
  display: inline-block;
  padding:10px;
  background-color: #f2f2f2;
}
.gallery-navbar ul li a {
  padding:10px 15px;
  color: #4e4e4e;
  text-decoration: none;
}
.gallery-navbar ul li a:hover {
  color: #fff;
  background-color: #076599;
}
.query {
  background-color: #076599;
  color: white; 
  padding: 50px 30px; 
}
.query h2 {
  padding: 20px 10px; 
  font-size: 2.0rem;
}
.query p {
  padding: 20px 10px;
  font-size: 1.2rem;
}
.query button {
    color: white;
    margin-left: 10px;
    border: 1px solid white;
    padding: 10px 25px;
    display: inline-block;
    background-color: #076599;
}
footer {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
}